* {
    font-family: 'Yandex Sans Display', 'sans-serif';
}

.form {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0 50px;
}

.form_header {
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 30px;
}

.form_input{
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form_input_row {
    display: flex;
    justify-content: flex-start;
    padding: .5em;
}
.form_input_row > label {
    padding: .5em 0 .5em 0;
    text-align: left;
    flex: 1;

}
.form_input_row > input {
    flex: 2;
}
.form_input_row > input {
    padding: .5em 0 .5em 0;
}

.form_input .form_input_button_registration,
.form_input .form_input_button_login {
    width: 100%;
    font-size: 20px;
    border: grey solid 1px;
    background-color: #ff8ba7;
}
