.app {
    display: flex;
    flex-flow: column;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.game-page {
    display: grid;
    grid-template: "field chat" / 8fr 4fr;
    height: 100%;
    align-items: baseline;
    grid-column-gap: 16px;
    padding: 0 16px;
}

.game, .chat {
    display: grid;
    height: 100%;
}

.game {
    grid-template: "header" 1fr "content" 11fr;
}

.chat {
    grid-template: "header" 1fr "posts" 10fr "input" 1fr;
}

.field {
    box-shadow: 0 0 5px 0 #808080;
}

.field-header {
    padding-top: 20px;
}

.post {
    padding: 8px;
    border-bottom: #A0A0A0 1px solid;
    display: flex;
}

.post__warm {
    background-color: rgba(255, 68, 0, .1);
}

.post__cold {
    background-color: rgba(102, 187, 238, .1);
}

.post__correct {
    background-color: rgba(0, 238, 2, 0.1);
}

.post__none {
    background-color: rgba(0, 238, 100, 0.1);
}

.post .content {
    flex: 1 0 150px;
}

.post-author {
    color: #808080;
}

.icon {
}

.icon-flame {
    color: red;
}

.cold-button {
    background: url("/icons/snow.svg");
}

.warm-button {
    background: url("/icons/flame.svg");
}

.correct-button {
    background: url("/icons/checkmark.svg");
}

.correct-button,
.cold-button,
.warm-button {
    background-size: contain;
    background-repeat: no-repeat;
    flex: 0 0 42px;
    border: none;
    cursor: pointer;
    transition: filter 300ms;
}

    .correct-button:hover,
    .cold-button:hover,
    .warm-button:hover {
        filter: opacity(.7);
    }

.board .row {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.row-header {
    font-weight: bold;
}

.row div {
    padding-right: 16px;
}
