nav {
    margin: 25px 0 25px 0;
}

ul {
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: black;  
}

.nav-button {
    width: 250px;
    height: 35px;
    border: grey solid 1px;
    font-size: 20px;
}