.palette {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: grey solid 3px;
    
}

.red,
.black,
.green,
.blue,
.yellow,
.white {
    border: none;
    padding: 16px 30px;
    text-align: center;
    font-size: 16px;
    margin: 0 100px 0 0;
}

.red:target,
.black:target,
.green:target,
.blue:target,
.yellow:target,
.white:target {
    border: #ff8ba7 solid 10px;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
    margin: 0;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
    border: 1px solid black;
}